<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style type="text/css">
      .MainDiv {
        background-color: bisque;
        margin: 20px;
        padding: 10px;
      }
      .TitleCode {
        font-family: Verdana, Geneva, sans-serif;
        text-align: center;
        padding: 10px 10px 0px 10px;
      }
      .Code {
        font-family: Verdana, Geneva, sans-serif;
        text-align: center;
        color: blueviolet;
        padding: 0px 10px 20px 10px;
      }
      .TitleLink {
        font-family: Verdana, Geneva, sans-serif;
        text-align: center;
      }
      .Link {
        font-family: Verdana, Geneva, sans-serif;
        text-align: center;
        color: blueviolet;
        padding: 0px 10px 20px 10px;
      }
    </style>
  </head>
  <body>
    <div class="MainDiv">
      <h1 class="TitleCode">@Model.TitleCode</h1>
      <h2 class="Code">@Model.Code</h2>
      <h2 class="TitleLink">@Model.TitleLink</h2>
      <h2 class="Link">@Model.Link</h2>
    </div>
  </body>
</html>